---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Info / Atelier Modulus">
  <section class="info-collage" aria-label="Studio information">
    <img src="/images/cargo-p-delta-01.png" alt="" />
    <div class="black-label info-address">
      Atelier Modulus GmbH<br /><br />
      Lehenmattstrasse 200, 4052 Basel,<br />
      Switzerland<br /><br />
      info@ateliermodulus.com<br /><br />
      Instagram:<br />
      @Atelier Modulus/模象工作室
    </div>
    <div class="black-label info-bio">
      Zijian Han(*1989) studied architecture at ETH Zurich (2016-2020), following
      a bachelor's degree in architecture at the University of Kassel (2012-2016)
      and a bachelor's degree in civil engineering at Tongji University in
      Shanghai (2007-2012). Since 2022, he has been working as a lead architect at
      Atelier Modulus.
    </div>
    <span class="black-label info-chip chip-exhibitions">Exhibitions</span>
    <div class="black-label info-note">
      Selected for the <em>FutureLab</em> exhibition of Chinese emerging graduates
      in China and abroad,<br />West Bund Art Center, Shanghai,<br />2024
    </div>
    <span class="black-label info-chip chip-lectures">Lectures</span>
    <div class="black-label info-caption">
      <em>From Object-Oriented Ontology to Self-Other Symmetry</em>
      &nbsp;&nbsp;&nbsp;&nbsp; 模象不看相
    </div>
  </section>
</BaseLayout>
